@import "./layout";

.categories {
    .inner-container {
        text-align: center;

        img {
            width: clamp(15rem,18vw,30rem);
            margin-bottom: $spacing--md;
        }
        #category-grid {
            @include grid(repeat(2, 1fr),repeat(3, 1fr),3rem,3rem);
            margin-bottom: 6rem;
        
            .category-card {
                text-align: center;
                font-size: clamp(1.6rem,2.5rem,3rem);
                text-decoration: none;
                padding: 1.6rem 3.2rem;
                border-radius: 1.6rem;
                box-shadow: 0px 10px 20px darken($main-blue, 15%);
                transition: all ease-in-out 0.3s;
                background-color: darken($main-blue, 5%);
        
                &.violet {
                    border: 3px solid $main-violet;
                    transition: $all;
        
                    &:hover {
                        background-color: $main-violet;
                        transition: $all;
                    }
                }
        
                &.green {
                    border: 3px solid $light-green;
                    transition: $all;
        
                    &:hover {
                        background-color: $light-green;
                    }
                }
        
                &.yellow {
                    border: 3px solid $main-yellow;
                    transition: $all;
        
                    &:hover {
                        background-color: $main-yellow;
                    } 
                }
        
                &.light-blue {
                    border: 3px solid $light-blue;
                    transition: $all;
        
                    &:hover {
                        background-color: $light-blue;
                    }
                }
        
                &.dark-violet {
                    border: 3px solid $dark-violet;
                    transition: $all;
        
                    &:hover {
                        background-color: $dark-violet;
                    }
                }
        
                &.orange {
                    border: 3px solid $light-orange;
                    transition: $all;
        
                    &:hover {
                        background-color: $light-orange;
                    }
                }
                
                &:hover {
                    box-shadow: none;
                    transform: translateY(-5px);
                }    
            }

            @media screen and (max-width: 768px) {
                &{
                    @include grid(1fr,1fr,2rem,2rem);
                }
            }
        }

        .add-question {
            display: flex;
            justify-content: center;

            a {
                display: flex;
                align-items: center;
                gap: 1rem;
                line-height: 1;
            }
        }
    }
}