@mixin d-flex($direction,$wrap,$align,$justify) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $justify;
}

@mixin grid($columns,$rows,$col-gap,$row-gap){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-column-gap: $col-gap;
    grid-row-gap: $row-gap;
}