@import "./variables";

body * {
  color: $white;  
}

#main-quiz {
    width: 100%;
    @include d-flex(column,nowrap,unset,space-between);

    #hud {
        @include d-flex(row,wrap,flex-start,space-between);
        margin-bottom: $spacing--md;

        .hud-item {
            .hud-prefix {
                text-align: center;
                font-size: 2rem;
                margin: 0px 0px $spacing--xs 0px;    
            }
            .hud-main-text {
                text-align: center;

                &#score {
                    font-size: 8rem;
                    margin: 0px;
                }
            }

            #progress-bar {
                width: 20rem;
                height: 2rem;
                border: 0.2rem solid ;
                border-radius: 50px;
                margin-top: 1.5rem; 
                overflow: hidden;
                
                @media screen and (max-width: 768px) {
                    & {
                        width: unset;
                    }
                }
            }

            #progressBarFull {
                height: 100%;
                background: $progress-green;
                width: 0%;
            } 
        }

        @media screen and (max-width: 768px) {
            & {
                flex-direction: column-reverse;
                align-items: center;
                width: 100%;
                margin-bottom: $spacing--md;

                .hud-item {
                    width: 100%;

                    &:last-of-type {
                        margin-bottom: $spacing--xs;
                    }
                }
            }
        }
    }
    #question {
        font-size: clamp(2.8rem, 5vw, 5rem);
        letter-spacing: 0.1rem;
        line-height: 110%
    }
    .choice-container {
        @include d-flex(row,nowrap,center, flex-start);
        border-radius: 16px;
        background-color: $light-blue;
        font-size: clamp(3rem,5vw,5rem);
        transition: $all;
        margin-bottom: $spacing--s;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0 0.4rem 1.4rem 0 darken($main-blue, 15%);
            transform: scale(1.02);
            transition: transform 100ms;
        }

        .choice-prefix {
            color: $white;
            margin: 0 32px 0 0;
            padding: 2.5rem 3rem;
            background: darken($main-blue, 30%);
            border-radius: 1.6rem;
        }

        .choice-text {
            width: 100%;
            margin: 0px;
            padding: 2rem 0px;
        }

        &.correct-answer {
            background-color: $success-green;
        }
        
        &.incorrect-answer {
            background-color: #ff3f2a;
        }

        @media only screen and (max-width: 768px) {
            & {
                display: flex;
                align-items: unset;

                .choice-prefix {
                    display: flex;
                    align-items: center;
                    height: unset;
                }

                .choice-text {
                    word-break: break-all;
                    padding: 2rem 2rem 2rem 0;
                }
            }
        }
    }
}